<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
</head>
<body>
    <h1>Chatbot</h1>

    <div id="chat-container">
        <div id="chat-messages"></div>
        <input type="text" id="user-input" placeholder="Ask a question...">
        <button onclick="sendMessage()">Send</button>
    </div>

    <script>
        function sendMessage() {
            var userInput = document.getElementById('user-input').value;

            // Envoyer la question à Flask
            fetch('/chatbot', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ user_input: userInput })
            })
            .then(response => response.json())
            .then(data => {
                // Afficher la réponse dans le chat
                var chatMessages = document.getElementById('chat-messages');
                var message = document.createElement('div');
                message.className = 'response-container';

                // Utiliser innerHTML pour permettre l'interprétation du HTML dans la réponse
                message.innerHTML = data.response;
                chatMessages.appendChild(message);
            });
			
        }
    </script>
</body>
</html>
